.profile-picture-container {
    padding: 30px;
    margin: 130px auto;
    width: max-content;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.profile-picture-container .picture-container {
    width: 270px;
    height: 270px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}