.auth-container {
    padding: 20px 15px;
    margin: 130px auto;
    width: max-content;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.auth-container h1 {
    text-align: center;
    margin-top: 0;
}

.auth-container > div {
    display: flex;
    width: 500px;
    margin: 10px 0;
    justify-content: flex-start;
    align-items: center;
}

.auth-container .buttons button {
    margin: 0 10px;
}

.auth-container a {
    text-decoration: none;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.popup {
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #F1F2F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup img {
    width: 100px;
}

.popup-container.open {
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.checkbox {
    --toggle: #fff;
    --toggle-active: #275EFE;
    --toggle-border: #BBC1E1;
    --toggle-border-hover: #A6ACCD;
    --toggle-border-active: #275EFE;
    --toggle-inner: #fff;
    --switch: #D1D6EE;
    --switch-hover: #CACFE6;
    --switch-active: #275EFE;
    --switch-dot: #fff;
    --switch-dot-shadow: rgba(0, 9, 61, 0.1);
    position: relative;
}

.checkbox input {
    display: block;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: var(--input-width, 22px);
    height: var(--input-height, 22px);
}

.checkbox svg {
    fill: var(--svg-fill, none);
    stroke: var(--svg-stroke, none);
    stroke-width: var(--svg-stroke-width, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
    display: block;
    width: var(--svg-width, 28px);
    height: var(--svg-height, 28px);
    position: absolute;
    top: var(--svg-top, -3px);
    left: var(--svg-left, -3px);
    pointer-events: none;
    -webkit-transform: scale(var(--svg-scale, 1)) translateZ(0);
    transform: scale(var(--svg-scale, 1)) translateZ(0);
    -webkit-transition: stroke 0.3s, fill 0.3s, stroke-dashoffset 0.15s ease var(--svg-delay, 0s), -webkit-transform var(--svg-transform-duration, 0s);
    transition: stroke 0.3s, fill 0.3s, stroke-dashoffset 0.15s ease var(--svg-delay, 0s), -webkit-transform var(--svg-transform-duration, 0s);
    transition: stroke 0.3s, fill 0.3s, stroke-dashoffset 0.15s ease var(--svg-delay, 0s), transform var(--svg-transform-duration, 0s);
    transition: stroke 0.3s, fill 0.3s, stroke-dashoffset 0.15s ease var(--svg-delay, 0s), transform var(--svg-transform-duration, 0s), -webkit-transform var(--svg-transform-duration, 0s);
}

.checkbox {
    --svg-fill: var(--toggle);
    --svg-stroke: var(--toggle-border);
    --svg-stroke-width: 1px;
}

.checkbox input:hover + svg {
    --svg-stroke: var(--toggle-border-hover);
}

.checkbox input:checked + svg {
    --svg-fill: var(--toggle-active);
    --svg-stroke: var(--toggle-border-active);
}

.checkbox .tick {
    --svg-width: 12px;
    --svg-height: 10px;
    --svg-fill: none;
    --svg-stroke: var(--toggle-inner);
    --svg-stroke-width: 2px;
    --svg-top: 6px;
    --svg-left: 5px;
    stroke-dasharray: 14px;
    stroke-dashoffset: var(--svg-offset, 14px);
}

.checkbox input:checked + svg + .tick {
    --svg-offset: 0;
    --svg-delay: .15s;
}